{% extends 'account/base.html' %}

{% block head_title %}
    {{ author.username }}'s account
{% endblock head_title %}

{% block content %}
    <div class="container">
        {% if author != user %}
            <h1>This a {{ author.username }}.</h1>
        {% else %}
            <h1>Hello, {{ user.username }}</h1>
        {% endif %}

        <div class="sidebar">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active"
                       href="#">
                        {% if author == user %}
                            My
                        {% else %}
                            {{ author }}'s
                        {% endif %}
                        campaigns
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#">
                        {% if author == user %}
                            My
                        {% else %}
                            {{ author }}'s
                        {% endif %}
                        bonuses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#">
                        {% if author == user %}
                            My
                        {% else %}
                            {{ author }}'s
                        {% endif %}
                        personal data
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}
