{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_head %}
    <script src="https://kit.fontawesome.com/6de1514227.js" crossorigin="anonymous"></script>
{% endblock %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h1 class="text-center">{% trans "Sign In" %}</h1>

                <p class="text-center">{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts or <a href="{{ signup_url }}">sign up</a>
                for a new account{% endblocktrans %}</p>

                <div class="d-flex justify-content-center">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="{% provider_login_url 'google' %}" class="btn btn-outline-danger">
                                <i class="fa fa-google fa-fw"></i>
                                <span>Login with Google</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% provider_login_url 'facebook' %}" class="btn btn-outline-primary">
                                <i class="fa fa-facebook fa-fw"></i>
                                <span>Login with Facebook</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <form class="form" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    {% buttons %}
                        <button class="primaryAction btn btn-outline-success" type="submit">{% trans "Sign In" %}</button>
                    {% endbuttons %}
                </form>

{#                <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
{% endblock content %}
