asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cloudinary==1.25.0
cryptography==3.4.7
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2
django-allauth==0.44.0
django-bootstrap4==3.0.1
django-cloudinary-storage==0.3.0
django-extensions==3.1.3
django-heroku==0.3.1
django-storages==1.11.1
django-taggit==1.4.0
dropbox==11.10.0
gunicorn==20.1.0
idna==2.10
Markdown==3.3.4
oauthlib==3.1.0
Pillow==8.2.0
ply==3.11
psycopg2==2.8.6
pycparser==2.20
PyJWT==2.0.1
pyOpenSSL==20.0.1
python-dotenv==0.17.0
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
stone==3.2.1
urllib3==1.26.4
Werkzeug==1.0.1
whitenoise==5.2.0
