{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load martortags %}
{% load bootstrap4 %}

{% block head_title %}
    Campaign {{ campaign.name }}
{% endblock head_title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <script src="{% static 'js/tooltip.js' %}"></script>

{#    for markdown#}
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock extra_head %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-end">
            {% if user.is_superuser or user == campaign.author %}
                <a href="{% url 'campaign:campaign_edit' campaign.author_slug campaign.name_slug %}"
                   class="btn btn-outline-success mr-2" data-toggle="tooltip"
                   data-placement="left" title="Edit campaign">
                    <i class="fas fa-edit"></i>
                </a>

                <span data-toggle="modal" data-target="#confirmationCampaignModal">
                    <button type="button" class="btn btn-outline-danger"
                            data-toggle="tooltip" data-placement="right" title="Delete campaign">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </span>

                <div class="modal fade" id="confirmationCampaignModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Confirmation</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                You are getting to delete your campaign. Are you sure?
                            </div>
                            <div class="modal-footer d-flex">
                                <button type="button" class="btn btn-outline-secondary flex-fill" data-dismiss="modal">Cancel</button>
                                <a type="button" class="btn btn-outline-danger flex-fill"
                                   href="{% url 'campaign:campaign_delete' campaign.author_slug campaign.name_slug %}">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% if campaign.images.count %}
                    <div id="campaignImages" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        {% if campaign.images.count != 1 %}
                            <ul class="carousel-indicators">
                                {% for image in campaign.images.all %}
                                    <li data-target="#campaignImages"
                                        data-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first %}class="active"{% endif %}>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            {% for image in campaign.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.image.url }}" alt="{{ image.alt }}" width="" height="">
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        {% if campaign.images.count != 1 %}
                            <a class="carousel-control-prev" href="#campaignImages" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#campaignImages" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    <img src="{% static 'img/no_image.png' %}" alt="No image available">
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h2>
                    {{ campaign.name }} by <span class="font-italic">
                    <a href="{{ campaign.author.get_absolute_url }}">{{ campaign.author }}</a></span>
                </h2>
                <h3>
                    <a href="{{ campaign.category.get_absolute_url }}">
                        {{ campaign.category|title }}
                    </a> category
                </h3>
                {% if campaign.tags.count %}
                    <p>Tags:
                        {% for tag in campaign.tags.all %}
                            <a href="{% url 'campaign:campaign_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>Expiration date: <span class="font-italic">{{ campaign.expiration_date }}</span></p>
                <div class="progress">
                    {% get_percent campaign.pk as collected_percent %}
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                             style="width: {{ collected_percent }}%">
                            {{ collected_percent }}%
                        </div>
                </div>
                <p>{{ campaign.collected }} of {{ campaign.goal }}</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3 class="text-center">Campaign description</h3>
                {{ campaign.description|safe_markdown }}
                {% if campaign.youtube_id %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://www.youtube.com/embed/{{ campaign.youtube_id }}">
                        </iframe>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Similar campaigns</h3>
                {% if similar_campaigns %}
                    <div class="card-columns">
                        {% for campaign in similar_campaigns %}
                            <div class="card">
                                <div class="card-header">
                                    <a href="{{ campaign.get_absolute_url }}">{{ campaign.name }}</a>
                                </div>
                                <a href="{{ campaign.get_absolute_url }}">
                                    <img class="card-img-top"
                                         {% if campaign.images.count %}
                                            src="{{ campaign.images.first.image.url }}" alt="{{ campaign.images.first.alt }}"
                                         {% else %}
                                            src="{% static 'img/no_image.png' %}" alt="No image available"
                                         {% endif %}>
                                </a>
                                <div class="card-body">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                             style="width: {% get_percent campaign.pk %}%">
                                            {% get_percent campaign.pk %}%
                                        </div>
                                    </div>
                                    <p>{{ campaign.collected }} of {{ campaign.goal }}</p>
                                </div>
                                <div class="card-footer">
                                    <p>by <a href="{{ campaign.author.get_absolute_url }}" class="font-italic">{{ campaign.author }}</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>There are no similar campaigns yet.</p>
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% with comments.count as comments_num %}
                    <h3>{{ comments_num }} comment{{ comments_num|pluralize }}</h3>
                {% endwith %}
                {% if user.is_authenticated %}
                    <form class="form" method="post" action="">
                        {% csrf_token %}

                        {% if comment_to_edit %}
                            {% with 'Update your comment' as comment_placeholder %}
                                {% bootstrap_field comment_form.content placeholder=comment_placeholder %}
                            {% endwith %}
                        {% else %}
                            {% bootstrap_field comment_form.content placeholder='Write your comment' %}
                        {% endif %}

                        {% buttons %}
                            <div class="d-flex justify-content-end">
                                {% if comment_to_edit %}
                                    <a class="btn btn-outline-secondary mr-1" href="{{ campaign.get_absolute_url }}">
                                        Cancel
                                    </a>
                                {% endif %}
                                <input class="btn btn-outline-success" type="submit"
                                       value="{% if comment_to_edit %}Update comment{% else %}Comment{% endif %}">
                            </div>
                        {% endbuttons %}
                    </form>
                {% else %}
                    <p class="text-danger">To post a comment you need to <a href="{% url 'account_login' %}">login</a>
                        or <a href="{% url 'account_signup' %}">sign up</a>.</p>
                {% endif %}

                <div class="d-flex flex-column">
                    {% for comment in comments %}
                        <div class="d-flex flex-column p-2 mb-2 bg-light">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <a href="{{ comment.author.get_absolute_url }}">
                                        {{ comment.author }}
                                    </a> on
                                    <a href="javascript:void(0);" class="text-muted" data-toggle="tooltip"
                                       title="{{ comment.created }}">
                                        {{ comment.created|date }}
                                    </a>
                                    {% if comment.created != comment.updated %}
                                        <a href="javascript:void(0);" data-toggle="tooltip"
                                           title="{{ comment.updated }}"> (edited)</a>
                                    {% endif %}
                                </div>

                                <div>
                                    {% if user.is_superuser or user == campaign.author %}
                                        <a href="{% url 'campaign:comment_edit' campaign.author_slug campaign.name_slug comment.pk %}"
                                           class="btn btn-outline-success"
                                           data-toggle="tooltip" data-placement="top" title="Edit comment">
                                            <i class="fas fa-edit"></i>
                                        </a>

                                        <span data-toggle="modal" data-target="#confirmationComment{{ comment.pk }}Modal">
                                            <button type="button" class="btn btn-outline-danger"
                                                    data-toggle="tooltip" data-placement="top" title="Delete comment">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </span>

                                        <div class="modal fade" id="confirmationComment{{ comment.pk }}Modal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Confirmation</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        You are getting to delete your campaign. Are you sure?
                                                    </div>
                                                    <div class="modal-footer d-flex">
                                                        <button type="button" class="btn btn-outline-secondary flex-fill"
                                                                data-dismiss="modal">Cancel</button>
                                                        <a type="button" class="btn btn-outline-danger flex-fill"
                                                           href="{% url 'campaign:comment_delete' campaign.author_slug campaign.name_slug comment.pk %}">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div>
                                {{ comment.content|linebreaks }}
                            </div>

                            <div class="d-flex justify-content-end">
                                <div>
                                    {% get_likes comment True %}&nbsp;
                                    <a href="{% url 'campaign:like_process' campaign.author_slug campaign.name_slug comment.pk 'like' %}"
                                       class="btn btn-outline-success"
                                       data-toggle="tooltip" data-placement="top" title="Like">
                                        {% is_liked user comment True as is_liked %}
                                        {% if is_liked %}
                                            <i class="fas fa-thumbs-up"></i>
                                        {% else %}
                                            <i class="far fa-thumbs-up"></i>
                                        {% endif %}
                                    </a>
                                    <a href="{% url 'campaign:like_process' campaign.author_slug campaign.name_slug comment.pk 'dislike' %}"
                                       class="btn btn-outline-danger"
                                       data-toggle="tooltip" data-placement="top" title="Dislike">
                                        {% is_liked user comment False as is_disliked %}
                                        {% if is_disliked %}
                                            <i class="fas fa-thumbs-down"></i>
                                        {% else %}
                                            <i class="far fa-thumbs-down"></i>
                                        {% endif %}
                                    </a>
                                    {% get_likes comment False %}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                      <p>There are no comments yet.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

{% endblock content %}

{% block js %}
{#    for markdown#}
    <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
    <script>
        $('.martor-preview pre').each(function(i, block) {
            hljs.highlightBlock(block);
        });
    </script>
{% endblock js %}
