{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head_title %}
    Campaign {{ campaign.name }}
{% endblock head_title %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock extra_head %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-end">
            {% if user.is_superuser or user == campaign.author %}
                <a href="{% url 'campaign:campaign_edit' campaign.author_slug campaign.name_slug %}"
                   class="btn btn-outline-success mr-2"><i class="fas fa-edit"></i></a>

                <button type="button" class="btn btn-outline-danger"
                        data-toggle="modal" data-target="#confirmationModal">
                    <i class="far fa-trash-alt"></i>
                </button>

                <div class="modal fade" id="confirmationModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Confirmation</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                You are getting to delete your campaign. Are you sure?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                <a type="button" class="btn btn-outline-danger"
                                   href="{% url 'campaign:campaign_delete' campaign.author_slug campaign.name_slug %}">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-sm-6">
                {% if campaign.images.count %}
                    <div id="campaignImages" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        {% if campaign.images.count != 1 %}
                            <ul class="carousel-indicators">
                                {% for image in campaign.images.all %}
                                    <li data-target="#campaignImages"
                                        data-slide-to="{{ forloop.counter0 }}"
                                        {% if forloop.first %}class="active"{% endif %}>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            {% for image in campaign.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ image.image.url }}" alt="{{ image.alt }}" width="" height="">
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        {% if campaign.images.count != 1 %}
                            <a class="carousel-control-prev" href="#campaignImages" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#campaignImages" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    <img src="{% static 'img/no_image.png' %}" alt="No image available">
                {% endif %}
            </div>
            <div class="col-sm-6">
                <h2>
                    {{ campaign.name }} by <span class="font-italic">
                    <a href="{{ campaign.author.get_absolute_url }}">{{ campaign.author }}</a></span>
                </h2>
                <h3>
                    <a href="{{ campaign.category.get_absolute_url }}">
                        {{ campaign.category|title }}
                    </a>
                </h3>
                <p>Expiration date: <span class="font-italic">{{ campaign.expiration_date }}</span></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                         style="width: {% get_percent campaign.pk %}%">
                        {% get_percent campaign.pk %}%
                    </div>
                </div>
                <p>{{ campaign.collected }} of {{ campaign.goal }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>{{ campaign.description|linebreaks }}</p>
                {% if campaign.youtube_id %}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ campaign.youtube_id }}"></iframe>
                    </div>
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% with comments.count as comments_num %}
                    <h3>{{ comments_num }} comment{{ comments_num|pluralize }}</h3>
                {% endwith %}
                <form method="post" action="">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" value="Comment">
                </form>
                {% for comment in comments %}
                    <div>
                        <a href="{{ comment.author.get_absolute_url }}">{{ comment.author }}</a> on <span class="text-muted">{{ comment.created }}</span>
                        {{ comment.content|linebreaks }}
                        Likes/Dislikes
                    </div>
                {% empty %}
                  <p>There are no comments yet.</p>
                {% endfor %}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

{% endblock content %}
