{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head_title %}
    {% if category %}
        {{ category|title }} campaigns
    {% else %}
        Campaigns
    {% endif %}
{% endblock head_title %}

{% block content %}
    <div class="container">
        <div class="sidebar">
            <h1>Categories</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if not category %}active{% endif %}"
                       href="{% url 'campaign:campaign_list' %}">All</a>
                </li>
                {% for ctg in categories %}
                    <li class="nav-item">
                        <a class="nav-link {% if ctg.slug == category.slug %}active{% endif %}"
                           href="{{ ctg.get_absolute_url }}">{{ ctg.name|title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

{#        {% if category %}<h1>{{ category.name|title }} campaigns{% else %}Campaigns</h1>{% endif %}#}
        {% if tag %}
            <h1>Campaigns tagged with "{{ tag.name }}"</h1>
        {% endif %}

        <div class="card-columns mt-1">
            {% for campaign in campaigns %}
                <div class="card">
                    <div class="card-header">
                        <a href="{{ campaign.get_absolute_url }}">{{ campaign.name }}</a>
                    </div>
                    <a href="{{ campaign.get_absolute_url }}">
                        <img class="card-img-top"
                             {% if campaign.images.count %}
                                src="{{ campaign.images.first.image.url }}" alt="{{ campaign.images.first.alt }}"
                             {% else %}
                                src="{% static 'img/no_image.png' %}" alt="No image available"
                             {% endif %}>
                    </a>
                    <div class="card-body">
                        <p>{{ campaign.description|linebreaks }}</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 style="width: {% get_percent campaign.pk %}%">
                                {% get_percent campaign.pk %}%
                            </div>
                        </div>
                        <p>{{ campaign.collected }} of {{ campaign.goal }}</p>
                        {% if not category %}
                            <p>
                                <a href="{{ campaign.category.get_absolute_url }}">{{ campaign.category|title }}</a>
                            </p>
                        {% endif %}
                        {% if campaign.tags.count %}
                            <p>Tags:
                                {% for tag in campaign.tags.all %}
                                    <a href="{% url 'campaign:campaign_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <p>by <a href="{{ campaign.author.get_absolute_url }}" class="font-italic">{{ campaign.author }}</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'pagination.html' with page=campaigns %}
    </div>

{% endblock content %}
