{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h1 class="text-center">Create your campaign</h1>
                <form class="form" action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form campaign_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                        <a class="btn btn-outline-secondary" href="{{ campaign.get_absolute_url }}">Cancel</a>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
{% endblock content %}
