{% extends '_base.html' %}
{% load socialaccount %}

{% block content %}
    <div class="container" style="text-align: center; padding-top: 10%;">
        <h1>Django social login</h1>

        <br><br>

        {% if user.is_authenticated %}
            <h3>Welcome {{ user.username }}!</h3>
            <br><br>
            <a href="{% url 'account_logout' %}" class="btn btn-outline-danger">Logout</a>
        {% else %}
            <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Login</a>
            <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign up</a>
{#            <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">#}
{#              <i class="fa fa-github fa-fw"></i>#}
{#              <span>Login with GitHub</span>#}
{#            </a>#}
            <a href="{% provider_login_url 'google' %}" class="btn btn-outline-secondary">
                <i class="fa fa-google fa-fw"></i>
                <span>Login with Google</span>
            </a>
            <a href="{% provider_login_url 'facebook' %}" class="btn btn-outline-secondary">
                <i class="fa fa-facebook fa-fw"></i>
                <span>Login with Facebook</span>
            </a>
        {% endif %}
    </div>
{% endblock content %}